.elipses {
  font-weight: bold;
  color: #1876d1;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 25;
  border-radius: 50%;
}

.updated-text {
  font-size: 10px;
  color: #1876d1;
}

.description-card {
  padding: 10px;
  height: 100px;
  overflow: hidden;
}
