.blog-article-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

@media (max-width: 600px) {
  .comments-section {
    padding-bottom: 32px; /* Set a smaller margin for mobile view to accommodate the fixed AppBar */
  }
}

/* popular post styles*/
.popular-posts-container {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.popular-posts {
  width: 80%;
}

.popular-post-card:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: 450ms ease-in-out;
}
