@font-face {
  font-family: 'Roboto';
  src: url('../../services/Fonts/Roboto/Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: 'Lumanosimo';
  src: url('../../services/Fonts/Lumanosimo/Lumanosimo-Regular.ttf');
}
@font-face {
  font-family: 'Rubic';
  src: url('../../services/Fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf');
}
.card-container {
  margin: 16px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.blog-content p {
  font-family: 'Rubic', sans-serif;
}

/*These css classes are for journey Odyssey blog posts*/
.main-img img {
  border-radius: 7px;
  width: 100%;
  height: 40%;
}
