:root {
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  margin-top: 30px;
}

@media (max-width: 600px) {
  .content {
    margin-top: 16px; /* Set a smaller margin for mobile view to accommodate the fixed AppBar */
  }
}

.search-container {
  margin-top: 84px;
  margin-right: 16px;
  margin-left: 16px;
}
