.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.map-container {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 16px;
  font-family: monospace;
  z-index: 10;
  top: 0;
  left: 0;
  margin-bottom: 12px;
  border-radius: 4px;
}

/* Icon marker designs*/
.zoom-animation {
  animation: zoom-in-zoom-out 3.5s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
